<!DOCTYPE html>
<html>

  <head>
      <title>New Recipe page</title>
  </head>

  <body>
    <form action='/recipes' method="post">
    <p>Name: <input type="input" name="name"></input></p>
    <p>Ingredients: <input type="input" name="ingredients"></input></p>
    <p>Cook Time: <input type="input" name="cook_time"></input></p>
    <p> <input type="submit" value="submit"></input></p>
    </form>
  </body>

</html>
